body {
  background-color: #eee;
  margin: 0px;
}

.main {
  padding-left: 24px;
}

.container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.container1_Item {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  border-left: 5px solid black;
}

.container1_Item p {
  font-size: 14px;
  color: gray;
}

.SearchBar {
  height: 40px;
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.header {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding: 16px;
  background-color: white;
}

.header button {
  height: 40px;
  width: 50px;
  background-color: black;
  color: white;
  margin-left: -10px;
  border-radius: 5px;
}
