body {
  background-color: #eee;
  margin: 0px;
}

.main {
  padding-left: 24px;
}

.container1 {
  display: flex;
  gap: 24px;
}

.container1_Item {
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 16px;
}

.SearchBar {
  height: 30px;
  width: 200px;
}

.header {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding: 16px;
  background-color: white;
}
