.flex-container {
  display: flex;
  /* display: flex를 작성하면 기본 가로정렬이 된다 */
  justify-content: center;
  /* justify-content를 활용하여 다양한 정렬과 배치가 가능하다 */
}
/* flex-grow를 사용하면 배수로 정렬할 수 도 있다. */

.flex-item {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  align-items: center;
  width: 100%;
}

.logo {
  padding-left: 20px;
}

.menu {
  padding-right: 20px;
}

body {
  margin: 0;
}
