a {
  text-decoration: none;
  color: black;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(/과제이미지/배경.jpg);
  /* background-image: url(/Front-end/과제이미지/찬우.png), url(/Front-end/과제이미지/형우.png);
  이런식으로 컴마를 사용해서 이미지 두개를 겹칠 수 있다. */
  background-size: cover;
  /* cover: 배경이 짤리더라도 빈공간 없이 배경으로 꽉채우는 것 */
  /* contain: 배경이 짤리면 안된다. */
  background-repeat: no-repeat;
  /* no-repeat: 이미지가 반복되는 현상을 막아준다. */
  background-position: center;
  /* 배경위치 조정가능 */
  background-attachment: fixed;
  /* 스크롤시에 배경의 위치를 조정한다. */
  filter: brightness(70%);
  /* 박스에 보정입히기 
  만약 박스안에 글씨가 있다면 글씨에도 보정이 적용된다.*/
  padding: 1px;
  /* 박스끼리 겹쳐져서 이미지의 마진값이 같이 적용되는 것을 막기위한 padding */
}

.main-title {
  margin-top: 180px;
  text-align: center;
  font-size: 48px;
  color: white;
}

.sub-text {
  color: white;
  margin-top: -50px;
  text-align: center;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 60px;
  font-size: 16px;
  text-align: center;
  background: white;
  border: none;
  border-radius: 5px;
}

.sub-title {
  text-align: center;
}

.sub-text2 {
  text-align: center;
}

.sub-box {
  /* 가운데 정렬 */
  margin: auto;

  /* 박스에게 영역의 보이기 위치를 지정해서 배경보다 위쪽에 배치 */
  position: relative;
  width: 500px;
  margin-top: -30px;
  padding: 20px;
  background-color: lightgray;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
  align-items: center;
}

body {
  margin: 0%;
}

.sub-menu {
  margin-top: 100px;
  display: flex;
}

.group {
  text-align: center;
  width: 100%;
}

/* media query 문법 */
/* 웹을 반응형으로 제작하기 위해서 사용하고 
@media screen and로 시작한 다음 brakepoint를 지정한다
여러게를 생성하더라고 상관없다. */
@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }
  .sub-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .group {
    flex: 1 1 40%;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .sub-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .group {
    flex: 1 1 100%;
  }
}
