body {
  font-family: -apple-system, BlinkMacSystemFont, helvetica,
    "Apple SD Gothic Neo", sans-serif;
}

.logo {
  width: 155px;
  height: 30px;
}

.logo-box {
  padding-top: 108px;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
}

.Text-Fild {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 6px 0 rgb(68, 68, 68/8%);
}

input {
  padding: 14px;
  flex: 1 1 100%;
  outline: 1px solid #dadada;
  border: 0;
}

input:focus {
  z-index: 5;
  outline: 1px solid #5ac467;
  box-shadow: 0 2px 6px 0 rgb(68, 68, 68/8%);
}

.top-input {
  border-radius: 6px 6px 0 0;
}

.bottom-input {
  border-radius: 0 0 6px 6px;
}
