body {
  margin: 0;
}

.box1 {
  margin-left: 84px;
  margin-top: 84px;
}

.box1 h1 {
  font-size: 48px;
}

.box1 p {
  font-size: 22px;
}

.bg1 {
  background: linear-gradient(#5d95d6, #5260ba);
  color: white;
  display: flex;
  justify-content: space-between;
}

.iphone {
  width: 455px;
  margin-right: 84px;
  margin-top: 181px;
}

.Button {
  padding: 16px;
  font-size: 18px;
  background-color: #444445;
  border-radius: 6px;
  color: white;
  border: none;
}

.Page2 {
  text-align: center;
  margin-bottom: 100px;
}

.Page2 h3 {
  margin-top: 100px;
  margin-bottom: -24px;
}

.Page2 p {
  margin-bottom: -4px;
}

.Page3 {
  background-color: #4e61c0;
  text-align: center;
  color: white;
  padding-top: 80px;
  padding-bottom: 56px;
  padding-left: 400px;
  padding-right: 400px;
}

.small-title {
  text-align: center;
}

.small-title h3 {
  margin-top: -16px;
  margin-bottom: 64px;
}

.small-title p {
  margin-top: -12px;
}

.Page3 i {
  color: #4e61c0;
  background-color: white;
  width: 100px;
  height: 100px;
  padding-top: 25px;
  box-sizing: border-box;
  border-radius: 99px;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.Page4 {
  margin-top: 100px;
}

.item {
  position: relative;
}

.item-text {
  top: 110px;
  left: 110px;
  position: absolute;
  color: white;
}

.item-list {
  flex-wrap: nowrap;
  padding-left: 175px;
  padding-right: 175px;
}

.filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: index 10;
  height: 100%;
  width: 100%;
}
