.containner div {
  border: 1px solid black;
}

.containner {
  display: grid;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-template-areas: "header header header" " a main b " " . . . " " footer footer footer ";
}

.nav {
}
