// 웹브라우저는 .css만 읽을 수 있다. 그래서 .scss는 읽을 수 없다.
// 그래서 scss를 css로 변환해야 한다.

// 1. 어려운 단어를 기억해야할 땐 변수문법을 사용하여 sass가 편리하다.
$Primary: #2a4cb2;
// Primary에 색상을 저장하였다.
$서브: #fdfdfd;
// 한국어 변수도 선언 가능
$기본사이즈: 16px;
// 사이즈도 넣을 수 있음

.background {
  background-color: $Primary;
  font-size: $기본사이즈 - 2px;
  // SASS에서 사칙연산이 가능하다 (피그마?)
  // + 나 - 는 같은 단위끼리 해야한다.
}
